flask
flask-socketio
flask-cors
python-dotenv

opencv-python
mediapipe==0.10.21
numpy==2.2.6
pandas
scikit-learn

flask_sqlalchemy
flask_migrate
flask_login
flask_wtf
wtforms
pymysql
werkzeug

openai-whisper
torch
torchaudio

Authlib
requests

gunicorn